.rows {
    color: #FFF;
    padding: 20px;
    position: relative;


}

.rows h2 {
    padding-left: 20px;
}

.row--cards {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth;
}

.row--cards::-webkit-scrollbar {
    display: none;
}

.cards {
    object-fit: contain;
    max-height: 350px;
    margin-right: 10px;
    transition: transform 450ms;
}

.cards:hover {
    transform: scale(1.08);
}

.left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    z-index: 10;
}

.right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    z-index: 10;
}

.scroll--btns {
    font-size: 2.5em;
    color: #FFF;
    animation: side 2s ease infinite;
}

@keyframes side {
    0% {
      transform: translateX(-5%);
    }
  
    50% {
      transform: translateX(5%);
    }
  
    100% {
      transform: translateX(-5%);
    }
  }


.image {
    position: relative;
}

.card--controls {
    border-bottom-left-radius: 0.28rem;
  border-bottom-right-radius: 0.28rem;
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  }
  .card-icons {
    font-size: 2.5em;
    margin-bottom: 10px;

  }

  .image:hover .card--controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }