footer {
    text-align: center;
    margin: 0 0 50px 0;
    letter-spacing: 1px;
    color: #FFF;
  }
  
  footer a {
    color: var(--white);
    font-weight: 600;
    transition: all 0.3s ease;
  }
  
  footer a:hover {
    color: rgb(175, 175, 175);
  }
  
  .social-icons {
    margin-top: 20px;
    font-size: calc(20 / 16 * 1rem);
  }
  
  .social-icons a:nth-child(2) {
    margin: 0 20px;
    font-size: calc(22 / 16 * 1rem);
  }