.jumbotron {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* margin-top: -70px; */
}
.banner {
    width: 100%;
    height: 100%;
}
.title-logo img {
    width: 24px;
    color: #FFF;
}

.title-logo {
    color: #FFF;
    display: flex;
    flex-direction: column;
    margin: auto 0;

}
.title-logo span {
    display: flex;
}
button {
    padding: 6px 18px;
    align-items: center;
}